<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Board</title>

    <th:block th:replace="/layout/fragments/config :: configFragment"></th:block>
    <!-- Custom styles for this page -->
    <link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .ck.ck-editor {
            max-width: 100%;
        }
        .ck-editor__editable {
            min-height: 300px;
        }
    </style>
</head>

<body id="page-top">
<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarElement = editor.ui.view.toolbar.element
                toolbarElement.style.display = 'none'
                editor.enableReadOnlyMode('editor')
            })
            .catch(error => {
                console.error(error)
            })

        $('#delete').on('click', function() {
            if (confirm('삭제하시겠습니까?')) {
                $('#delete-form').submit()
            } else {
                return false
            }
        })

        $('#edit').on('click', function() {

        })
    })
</script>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/layout/fragments/sidebar :: sidebarFragment"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Top bar -->
            <th:block th:replace="/layout/fragments/header :: headerFragment"></th:block>
            <!-- End of Top bar -->

            <!-- Page Content -->
            <div class="container-fluid" style="width: 80%">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" id="title" name="title" th:value="${board.boardTitle}" readonly>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${board.registerId}" name="registerId" readonly id="registerId">
                </div>
                <textarea id="editor" th:text="${board.boardContent}" name="content" class="form-control"></textarea>
                <hr>
<!--                <button type="button" class="btn btn-secondary" style="width: 100px" onclick="history.back()">목록</button>-->
                <a href="/board">
                    <button type="button" class="btn btn-secondary" style="width: 100px">목록</button>
                </a>
                <div th:if="${#authentication.principal.nickname} == ${board.registerId}">
                    <a th:href="@{'/board/edit/' + ${board.boardNo}}">
                        <button type="button" id="edit" class="btn btn-success" style="width: 100px">수정</button>
                    </a>
                    <form id="delete-form" th:action="@{'/board/' + ${board.boardNo}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="btn btn-danger" style="width: 100px" id="delete">삭제</button>
                    </form>
                </div>
            </div>
            <!-- End of Page Content -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Page level custom scripts -->
</body>
</html>