<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="configFragment">
        <!-- Custom fonts for this template-->
        <link href="/css/font/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/bootstrap/sb-admin-2.min.css" rel="stylesheet">

        <!-- controller 두번 호출되는 현상이 있어 주석 처리함. -->
<!--        <link rel="short icon" href="#">-->

        <!-- Bootstrap core JavaScript-->
        <script src="/js/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/js/jquery/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/bootstrap/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
<!--        <script src="/js/chart/Chart.min.js"></script>-->

        <!-- Page level custom scripts -->
<!--        <script src="/js/chart/chart-area-demo.js"></script>-->
<!--        <script src="/js/chart/chart-pie-demo.js"></script>-->
    </th:block>
</html>