<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <th:block th:replace="/layout/fragments/config :: configFragment"></th:block>
</head>
<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" action="/loginProc" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="username" aria-describedby="emailHelp"
                                               placeholder="User Email" name="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="password" placeholder="Password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="remember-me">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-user btn-block" id="login">Login</button>
<!--                                    <a href="index.html" class="btn btn-primary btn-user btn-block">-->
<!--                                        Login-->
<!--                                    </a>-->
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=90b37669abce7ae3fe1d94c0cd666d30&redirect_uri=http://localhost:1234/app/kakao&response_type=code" class="btn btn-facebook btn-user btn-block">
<!--                                    <a href="/login/kakao" class="btn btn-facebook btn-user btn-block">-->
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Kakao
<!--                                        <img src="/img/kakao_login_large_narrow.png">-->
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgot-password">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/signup">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#login').on('click', function() {
        let data = {
            email : $('#username').val(),
            password : $('#password').val()
        }

        $.ajax({
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            url: '/loginProc',

            success: function(response) {
                if (response.code === 200) {
                    console.log(response)
                    // $.cookie('token', result['result'], {path: '/index'})
                    // localStorage.setItem('token', response.result)
                    // let token = localStorage.getItem('token')

                    // let httpRequest = new XMLHttpRequest()
                    // httpRequest.open('get', '/index', true)
                    // httpRequest.setRequestHeader('Authorization', 'Bearer ' + token)
                    // httpRequest.send()

                    // $.ajax({
                    //     type: 'get',
                    //     url: '/index',
                    //     headers: {
                    //         'Authorization' : 'Bearer ' + token
                    //     }
                    // }).done(function() {
                    //     alert('done')
                    // })

                    location.href = '/main'
                } else {
                    $.notify('이메일 또는 비밀번호를 확인해주세요.')
                }
            },
            error: function() {
                $.notify('이메일 또는 비밀번호를 확인해주세요.')
            }
        })
    })
</script>
<script src="/js/notify/notify.min.js"></script>
</body>
</html>